.nav-wrapper{
  background-color: #5C64B2;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 5;
}
nav div a{
  height: 100%;
}

.active{
  background-color: rgba(0,0,0,0.1);
}
