<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"> <img src="./app/img/Harry_Potter_logo.png" width="auto" height="100%" alt="Harry Potter"> </a>
    
    <ul class="right hide-on-med-and-down">
      <li><a routerLinkActive="active"
          [routerLink]="[ 'principal' ]">Inicio</a></li>
      <li><a routerLinkActive="active"
          [routerLink]="[ 'characters' ]">Characters</a></li>
      <li><a href="#">Students</a></li>
      <li><a href="#">Teachers</a></li>
      <li><a href="#">Houses</a></li>
    </ul>


  </div>
</nav>
  <router-outlet></router-outlet>
