<div class="row">
  <div *ngFor="let character of characters" class="col s2 margen" (click) = "goToDetail(character)">
      <div class="card selected" style="border-radius: 40px;box-shadow: 1px 1px 10px rgba(0,0,0,0.4); cursor:pointer;">
          <div class="card-image" style="border-radius: 40px;box-shadow: 1px 1px 10px rgba(0,0,0,0.4);">
            <img src="{{character.image}}" alt="{{character.name}}" width="auto" height="300px" style="border-radius: 35px;box-shadow: 1px 1px 10px rgba(0,0,0,0.4);">
            <span class="card-title">{{character.name}}</span>
          </div>
        </div>
  </div>
</div>

<div class="card-action">
  <a class="waves-effect waves-light btn" (click)="goBack()">Regresar</a>
</div>
