<div class="row">
  <div *ngFor="let character of characters" class="col s2 margen" (click) = "goToDetail(character)">
    <div class="card">
      <div class="card-image">
        <img src="{{character.image}}" alt="{{character.name}}" width="auto" height="300px">
        <span class="card-title">{{character.name}}</span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>
